*{
    padding: 0;
    margin: 0
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #333;
}